@model sb_admin_2.Web1.Domain.PersonData

@{
    ViewBag.Title = "Person";
}

<script>
    $(document).ready(function () {
        $('#dataTables-exampleA').DataTable({
            responsive: true
        });
    });

    $(document).ready(function () {
        $('#dataTables-exampleB').DataTable({
            responsive: true
        });
    });
</script>

<div class="row">
    <h2>Person</h2>
</div>

<div class="row">
    <div class="col-lg-10">
        <input class="form-control">
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-default">Search</button>
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-default">Add</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div><h3>@Html.DisplayFor(model => model.Person.FullName)</h3></div>
        <div><h4>@Html.DisplayFor(model => model.Person.Birth)</h4></div>
    </div>
    <div class="col-lg-6">
        <div>
            <label>Description</label>
        </div>
        <div>
            <h5>
                @Html.DisplayFor(model => model.Person.Description)
            </h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Contacts
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-exampleA">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Contact</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ContactList)
                            {
                                <tr class="odd gradeX">
                                    <td>@Html.DisplayFor(model => item.contactType)</td>
                                    <td>@Html.DisplayFor(model => item.Content)</td>
                                    <td>@Html.DisplayFor(model => item.Description)</td>
                                    <td><button type="button" class="btn btn-link">Link</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-default">Add</button>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Documents
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-exampleB">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Valid</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DocumentList)
                            {
                                <tr class="odd gradeX">
                                    <td>@Html.DisplayFor(model => item.documentType)</td>
                                    <td>@Html.DisplayFor(model => item.Valid)</td>
                                    <td><button type="button" class="btn btn-link">Link</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-default">Add</button>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@foreach (var item in Model.ActionList)
{
    <div class="row">
        <div class="col-lg-12">
            @if (item.Status == sb_admin_2.Web1.Models.ActionHistory.ActionHistoryStatus.green)
            {
                <div class="panel panel-green">
                    <div class="panel-heading">
                        @Html.DisplayFor(model => item.Order.Description)
                    </div>
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => item.Content)</p>
                    </div>
                    <div class="panel-footer">
                        @Html.DisplayFor(model => item.Created)
                    </div>
                </div>
            }
            else if (item.Status == sb_admin_2.Web1.Models.ActionHistory.ActionHistoryStatus.red)
            {
                <div class="panel panel-red">
                    <div class="panel-heading">
                        @Html.DisplayFor(model => item.Order.Description)
                    </div>
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => item.Content)</p>
                    </div>
                    <div class="panel-footer">
                        @Html.DisplayFor(model => item.Created)
                    </div>
                </div>
            }
            else if (item.Status == sb_admin_2.Web1.Models.ActionHistory.ActionHistoryStatus.yellow)
            {
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        @Html.DisplayFor(model => item.Order.Description)
                    </div>
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => item.Content)</p>
                    </div>
                    <div class="panel-footer">
                        @Html.DisplayFor(model => item.Created)
                    </div>
                </div>
            }   
        </div>
    </div>
}