@model sb_admin_2.Web1.Domain.SettingsData

@{
    ViewBag.Title = "Settings";
}

<div class="row">
    <h2>Settings</h2>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-9">
                        <h3>Country</h3>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-12" style="text-align: right">
                                <button type="button" class="btn btn-primary btn-circle btn-lg" title="Add" data-toggle="modal" data-target="#countrydetails" onclick="ClearCountryDetails()">
                                    <i class="fa fa-plus fa-1x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="tableCountry">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>ISO</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>ISO</th>
                                <th>Edit</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.catalog.countryList)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.Name)</td>
                                    <td>@Html.DisplayFor(model => item.ISO)</td>
                                    <td><button type="button" data-toggle="modal" data-target="#countrydetails" onclick="FillCountryDetails('@item.ID')"><i class="glyphicon glyphicon-pencil"></i></button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <script>
                        EditedCountryID = 0;

                        function ClearCountryDetails() {
                            EditedCountryID = 0;

                            $('#inputCountryName').val('');
                            $('#inputCountryISO').val('');
                        }

                        function FillCountryDetails(id) {
                            EditedCountryID = id;
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("FindCountry", "Home")',
                                dataType: 'json',
                                data: {
                                    id: id
                                },
                                success: function (data) {
                                    if (data != null) {
                                        document.getElementById("inputCountryName").value = data.Name;
                                        document.getElementById("inputCountryISO").value = data.ISO;
                                    }
                                },
                                error: function () {
                                    alert('error');
                                }
                            });
                        }

                        function SaveCountryDetails() {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("SaveCountry", "Home")',
                                dataType: 'json',
                                data: {
                                    id: EditedCountryID,
                                    Name: document.getElementById("inputCountryName").value,
                                    ISO: document.getElementById("inputCountryISO").value
                                },
                                success: function (data) {
                                    $('#countrydetails').modal('toggle');
                                    location.reload();
                                },
                                error: function () {
                                    alert('error');
                                }
                            });
                        }

                        $(document).ready(function () {
                            $('#tableCountry').DataTable({
                                initComplete: function () {
                                    this.api().columns([]).every(function () {

                                        var column = this;
                                        var select = $('<select><option value=""></option></select>')
                                            .appendTo($(column.footer()).empty())
                                            .on('change', function () {
                                                var val = $.fn.dataTable.util.escapeRegex(
                                                    $(this).val()
                                                );

                                                column
                                                    .search(val ? '^' + val + '$' : '', true, false)
                                                    .draw();
                                            });
                                        column.data().unique().sort().each(function (d, j) {
                                            select.append('<option value="' + d + '">' + d + '</option>')
                                        });
                                    });
                                }
                            });
                        });

                        function DeleteCountry() {
                            if (confirm("Are you sure to delete the country?")) {
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("DeleteCountry", "Home")',
                                    dataType: 'json',
                                    data: {
                                        id: EditedCountryID,
                                    },
                                    success: function (data) {
                                        $('#countrydetails').modal('toggle');
                                        location.reload();
                                    },
                                    error: function () {
                                        alert('error');
                                    }
                                })
                            }
                        }
                    </script>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="UploadCountry" method="post" enctype="multipart/form-data">
                            <div class="col-lg-6">
                                <input type="file" name="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                            </div>
                            <div class="col-lg-6">
                                <input type="submit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <!--Contacts-->
    <div class="modal fade" id="countrydetails" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="countrydetailslabel">Country</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" id="divCountryName">
                                <input class="form-control" placeholder="Name" id="inputCountryName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" id="divCountryISO">
                                <input class="form-control" placeholder="ISO" id="inputCountryISO">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-6" style="text-align: left">
                            <button type="button" class="btn btn-primary btn-circle btn-lg" title="Delete" onclick="DeleteCountry()">
                                <i class="glyphicon glyphicon-remove fa-1x"></i>
                            </button>
                        </div>
                        <div class="col-lg-6" style="text-align: right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="SaveCountryDetails()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>